<div class="container-fluid d-flex flex-column pb-3 container-width">
  <div class="d-flex flex-column ps-2 pb-2 border-top border-start border-end cor-default">
    <div class="col-2">
      <label class="form-label">
        <strong>Temporada</strong>
      </label>
    </div>
    <div [ngClass]="{'width-85': !loading, 'width-68': loading}">
      <div class="position-relative">
        <select [(ngModel)]="anoSelecionado" class="form-select" [disabled]="loading" (ngModelChange)="buscarCampeonatoPeloAno()">
          <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
        </select>
        <div class="spinner-border spinner-border-sm text-secondary position-absolute" style="top: 30%; left: 20%" role="status" *ngIf="loading">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border">
    <table class="table" [ngClass]="{'table-hover': tabela.length}">
      <thead>
      <tr>
        <th scope="col" style="width: 350px">Clube</th>
        <th scope="col"><strong>Pts</strong></th>
        <th scope="col">PJ</th>
        <th scope="col">VIT</th>
        <th scope="col">E</th>
        <th scope="col">DER</th>
        <th scope="col">GM</th>
        <th scope="col">GC</th>
        <th scope="col">SG</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!tabela || tabela.length === 0">
        <td colspan="20">
          <ngx-skeleton-loader count="20" appearance="line"></ngx-skeleton-loader>
        </td>
      </tr>
      <ng-container *ngFor="let time of tabela">
        <tr class="text-center point-click" (click)="buscarInformacoesTime(time.idTime)">
          <td class="tabela-clube-width" [ngClass]="{'border-left-red': time.posicao >= 17 && time.posicao <= 20,
            'border-left-green': time.posicao >= 7 && time.posicao <= 12,
            'border-left-orange': time.posicao >= 5 && time.posicao <= 7,
            'border-left-blue': time.posicao >= 1 && time.posicao <= 4}">
            <div class="d-flex">
              <div style="width: 20px">
                {{time.posicao}}
              </div>
              <img src="{{time.urlFotoTime}}" alt="{{time.nomeTime}}" class="tamanho-imagem ms-1 me-1"
                   ngxSkeletonLoader/>
              {{time.nomeTime}}
            </div>
          </td>
          <td><strong>{{time.pontos}}</strong></td>
          <td>{{time.partidasJogadas}}</td>
          <td>{{time.vitorias}}</td>
          <td>{{time.empates}}</td>
          <td>{{time.derrotas}}</td>
          <td>{{time.golsMarcados}}</td>
          <td>{{time.golsSofridos}}</td>
          <td>{{time.saldoGols}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="container-fluid mb-3">
      <div class="d-flex flex-column p-2 border cor-default">
        <strong>Qualificação/Rebaixamento</strong>
        <span class="bg-color-blue">Fase de grupos da Copa Libertadores</span>
        <span class="bg-color-orange">Qualificatórias da Copa Libertadores</span>
        <span class="bg-color-green">Fase de grupos da Copa Sul-Americana</span>
        <span class="bg-color-red">Rebaixamento</span>
      </div>
    </div>
  </div>
</div>

