.container-width{
  width: 750px;
}

.cor-default{
  background-color: #f1f3f4;
}
.tabela-clube-width{
  width: 350px;
}
.tamanho-imagem{
  width: 24px;
  height: 24px;
}

.bg-color-red::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color:#EA4335;
}

.bg-color-blue::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color:#4285F4;
}
.bg-color-orange::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color:#FA7B17;
}

.bg-color-green:before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color:#34A853;
}

.border-left-blue{
  position: relative;
}

.border-left-blue::before{
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 3px;
  border-left: solid #4285F4;
}

.border-left-orange{
  position: relative;
}

.border-left-orange::before{
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 3px;
  border-left: solid #FA7B17;
}

.border-left-green{
  position: relative;
}

.border-left-green::before{
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 3px;
  border-left: solid #34A853;
}

.border-left-red {
  position: relative;
}
.border-left-red::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 3px;
  background-color: #EA4335;
}
.width-85 {
  width: 85px;
}

.width-68 {
  width: 68px;
}

.point-click:hover{
  cursor: pointer;
}
